.nav-header {
    margin-top: 20px;
}
p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10pt;
    display: inline;
    padding-right: 20px;
}
.nav-left {
    margin-right: 35%;
}
.nav-right {
    margin-left: 35%;
}
.hamburger-menu {
    width: 15px;
    padding: 5px 20px 0px 0px;
}
.sign-in {
    color: white;background-color: #0077ff;
    padding:10px 20px 10px 20px;
    border-radius: 2px;
}
main {
    text-align: center;
}
.search-container {
    
}
.google-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    
}
.magnifying-glass {
    width: 15px;
    padding: 10px 500px 10px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 20px;
}
.nav-footer {
    margin-top: 45%;
    background-color: rgb(233, 233, 233);
}
.footer-left {
    margin-right: 29%;
}
.footer-right {
    margin-left: 30%;